*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    height: 100vh;
}

.wrapper{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper-selects{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 100px;
}

select{
    width: 80px;
}

input{
    margin-bottom: 100px;
    width: 250px;
    height: 50px;
    margin-right: 70px;
}

label{
    margin-top: 80px;
    margin-right: 230px;
}

button{
    width: 250px;
    height: 40px;
    transform: translateY(-30px);
    background-color: darkcyan;
    border: none;
    color: white;
}